/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-image: linear-gradient(
      to right,
      rgba(6, 6, 6, 0.5),
      rgba(5, 5, 5, 0.5)
    ), url("./Assets/images/bgimage1.jpeg");
    width: 100%;
    height: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    min-height: 100vh;
    
 }
